<a href="https://colab.research.google.com/github/pratima-ss/Python/blob/main/Heart_Disease_Prediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The project-Heart Disease Prediction model using logistic regression has been done by Pratima S.

Stack : Python

ML model: Logistic Regression

Accuracy: ~80

This project uses python along with some machine learning libraries to facilitate prediction.Data used is from UCI Heart Disease prediction.Data has been stored in Github in raw format and then is pre-processed and then the model is trained with 80% of data which is then tested using 20% data.This model gives an accurancy of around 80%.

Ongoing development : Deploying it as an app using streamlit after pickling the model.

Further development : Improvement of accuracy

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import preprocessing

In [ ]:
!pip install streamlit
import streamlit as st

In [3]:
url = 'https://raw.githubusercontent.com/pratima-ss/Python/main/data_for_heart_disease_prediction.csv'
heart_data = pd.read_csv(url)

   age     sex chest_pain_type  resting_blood_pressure  cholestoral  \
0   52    Male  Typical angina                     125          212
1   53    Male  Typical angina                     140          203
2   70    Male  Typical angina                     145          174
3   61    Male  Typical angina                     148          203
4   62  Female  Typical angina                     138          294

      fasting_blood_sugar               rest_ecg  Max_heart_rate  \
0    Lower than 120 mg/ml  ST-T wave abnormality             168
1  Greater than 120 mg/ml                 Normal             155
2    Lower than 120 mg/ml  ST-T wave abnormality             125
3    Lower than 120 mg/ml  ST-T wave abnormality             161
4  Greater than 120 mg/ml  ST-T wave abnormality             106

  exercise_induced_angina  oldpeak        slope vessels_colored_by_flourosopy  \
0                      No      1.0  Downsloping                           Two
1                     Yes      3.1    Upsloping                          Zero
2                     Yes      2.6    Upsloping                          Zero
3                      No      0.0  Downsloping                           One
4                      No      1.9         Flat                         Three

         thalassemia  target
0  Reversable Defect       0
1  Reversable Defect       0
2  Reversable Defect       0
3  Reversable Defect       0
4       Fixed Defect       0

In [4]:
heart_data.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
0,52,Male,Typical angina,125,212,Lower than 120 mg/ml,ST-T wave abnormality,168,No,1.0,Downsloping,Two,Reversable Defect,0
1,53,Male,Typical angina,140,203,Greater than 120 mg/ml,Normal,155,Yes,3.1,Upsloping,Zero,Reversable Defect,0
2,70,Male,Typical angina,145,174,Lower than 120 mg/ml,ST-T wave abnormality,125,Yes,2.6,Upsloping,Zero,Reversable Defect,0
3,61,Male,Typical angina,148,203,Lower than 120 mg/ml,ST-T wave abnormality,161,No,0.0,Downsloping,One,Reversable Defect,0
4,62,Female,Typical angina,138,294,Greater than 120 mg/ml,ST-T wave abnormality,106,No,1.9,Flat,Three,Fixed Defect,0

In [20]:
print(heart_data['sex'].value_counts())
print(heart_data['fasting_blood_sugar'].value_counts())
print(heart_data['rest_ecg'].value_counts())
print(heart_data['exercise_induced_angina'].value_counts())
print(heart_data['slope'].value_counts())
print(heart_data['vessels_colored_by_flourosopy'].value_counts())
print(heart_data['thalassemia'].value_counts())
print(heart_data['chest_pain_type'].value_counts())
print(heart_data['target'].value_counts())

1    713
0    312
Name: sex, dtype: int64
1    872
0    153
Name: fasting_blood_sugar, dtype: int64
2    513
1    497
0     15
Name: rest_ecg, dtype: int64
0    680
1    345
Name: exercise_induced_angina, dtype: int64
1    482
0    469
2     74
Name: slope, dtype: int64
4    578
1    226
3    134
2     69
0     18
Name: vessels_colored_by_flourosopy, dtype: int64
0    544
3    410
2     64
1      7
Name: thalassemia, dtype: int64
3    497
2    284
1    167
0     77
Name: chest_pain_type, dtype: int64
1    526
0    499
Name: target, dtype: int64

In [8]:
one_hot_encoded_data=heart_data
label_encoder = preprocessing.LabelEncoder()

In [9]:
one_hot_encoded_data['sex']= label_encoder.fit_transform(one_hot_encoded_data['sex'])
one_hot_encoded_data['fasting_blood_sugar']= label_encoder.fit_transform(one_hot_encoded_data['fasting_blood_sugar'])
one_hot_encoded_data['rest_ecg']= label_encoder.fit_transform(one_hot_encoded_data['rest_ecg'])
one_hot_encoded_data['exercise_induced_angina']= label_encoder.fit_transform(one_hot_encoded_data['exercise_induced_angina'])
one_hot_encoded_data['slope']= label_encoder.fit_transform(one_hot_encoded_data['slope'])
one_hot_encoded_data['vessels_colored_by_flourosopy']= label_encoder.fit_transform(one_hot_encoded_data['vessels_colored_by_flourosopy'])
one_hot_encoded_data['thalassemia']= label_encoder.fit_transform(one_hot_encoded_data['thalassemia'])
one_hot_encoded_data['chest_pain_type']= label_encoder.fit_transform(one_hot_encoded_data['chest_pain_type'])

In [19]:
print(one_hot_encoded_data['sex'].value_counts())
print(one_hot_encoded_data['fasting_blood_sugar'].value_counts())
print(one_hot_encoded_data['rest_ecg'].value_counts())
print(one_hot_encoded_data['exercise_induced_angina'].value_counts())
print(one_hot_encoded_data['slope'].value_counts())
print(one_hot_encoded_data['vessels_colored_by_flourosopy'].value_counts())
print(one_hot_encoded_data['thalassemia'].value_counts())
print(one_hot_encoded_data['chest_pain_type'].value_counts())
print(one_hot_encoded_data['target'].value_counts())

1    713
0    312
Name: sex, dtype: int64
1    872
0    153
Name: fasting_blood_sugar, dtype: int64
2    513
1    497
0     15
Name: rest_ecg, dtype: int64
0    680
1    345
Name: exercise_induced_angina, dtype: int64
1    482
0    469
2     74
Name: slope, dtype: int64
4    578
1    226
3    134
2     69
0     18
Name: vessels_colored_by_flourosopy, dtype: int64
0    544
3    410
2     64
1      7
Name: thalassemia, dtype: int64
3    497
2    284
1    167
0     77
Name: chest_pain_type, dtype: int64
1    526
0    499
Name: target, dtype: int64

In [10]:
one_hot_encoded_data.shape

(1025, 14)

In [11]:
one_hot_encoded_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            1025 non-null   int64
 1   sex                            1025 non-null   int64
 2   chest_pain_type                1025 non-null   int64
 3   resting_blood_pressure         1025 non-null   int64
 4   cholestoral                    1025 non-null   int64
 5   fasting_blood_sugar            1025 non-null   int64
 6   rest_ecg                       1025 non-null   int64
 7   Max_heart_rate                 1025 non-null   int64
 8   exercise_induced_angina        1025 non-null   int64
 9   oldpeak                        1025 non-null   float64
 10  slope                          1025 non-null   int64
 11  vessels_colored_by_flourosopy  1025 non-null   int64
 12  thalassemia                    1025 non-null   int64
 13  target                         1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [12]:
one_hot_encoded_data.isnull().sum()

age                              0
sex                              0
chest_pain_type                  0
resting_blood_pressure           0
cholestoral                      0
fasting_blood_sugar              0
rest_ecg                         0
Max_heart_rate                   0
exercise_induced_angina          0
oldpeak                          0
slope                            0
vessels_colored_by_flourosopy    0
thalassemia                      0
target                           0
dtype: int64

In [14]:
print(one_hot_encoded_data)

      age  sex  chest_pain_type  resting_blood_pressure  cholestoral  \
0      52    1                3                     125          212
1      53    1                3                     140          203
2      70    1                3                     145          174
3      61    1                3                     148          203
4      62    0                3                     138          294
...   ...  ...              ...                     ...          ...
1020   59    1                1                     140          221
1021   60    1                3                     125          258
1022   47    1                3                     110          275
1023   50    0                3                     110          254
1024   54    1                3                     120          188

      fasting_blood_sugar  rest_ecg  Max_heart_rate  exercise_induced_angina  \
0                       1         2             168                        0
1                       0         1             155                        1
2                       1         2             125                        1
3                       1         2             161                        0
4                       0         2             106                        0
...                   ...       ...             ...                      ...
1020                    1         2             164                        1
1021                    1         1             141                        1
1022                    1         1             118                        1
1023                    1         1             159                        0
1024                    1         2             113                        0

      oldpeak  slope  vessels_colored_by_flourosopy  thalassemia  target
0         1.0      0                              3            3       0
1         3.1      2                              4            3       0
2         2.6      2                              4            3       0
3         0.0      0                              1            3       0
4         1.9      1                              2            0       0
...       ...    ...                            ...          ...     ...
1020      0.0      0                              4            0       1
1021      2.8      1                              1            3       0
1022      1.0      1                              1            0       0
1023      0.0      0                              4            0       1
1024      1.4      1                              1            3       0

[1025 rows x 14 columns]

In [22]:
X = one_hot_encoded_data.drop(columns='target', axis=1)
Y = one_hot_encoded_data['target']

In [24]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [25]:
print(X.shape, X_train.shape, X_test.shape)

(1025, 13) (820, 13) (205, 13)

In [26]:
model = LogisticRegression()

In [27]:
X_train

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia
14,52,1,3,128,204,0,2,156,1,1.0,1,4,1
586,64,1,2,125,309,1,2,131,1,1.8,1,4,3
16,51,0,2,140,308,1,1,142,0,1.5,0,1,0
462,52,1,0,118,186,1,1,190,0,0.0,1,4,2
186,40,1,3,110,167,1,1,114,1,2.0,1,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,63,1,3,130,254,1,1,147,0,1.4,1,1,3
906,42,1,3,140,226,1,2,178,0,0.0,0,4,0
1002,66,1,3,112,212,1,1,132,1,0.1,0,1,0
966,58,1,3,128,259,1,1,130,1,3.0,1,3,3
191,56,1,1,130,221,1,1,163,0,0.0,0,4,3

In [ ]:
model.fit(X_train, Y_train)

In [29]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [30]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.85

In [31]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [32]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.7853658536585366

In [33]:
import pickle

In [34]:
with open('model_pkl', 'wb') as files:
    pickle.dump(model, files)

In [37]:
input_data = (56 	,1 ,	130 ,	221 ,	1 ,	1 ,	163 ,	0 	,0.0 ,	0, 	4 ,	3 ,	0 )

In [ ]:
# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
print(input_data_reshaped)
prediction = model.predict(input_data_reshaped)

In [39]:

print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[0]
The Person does not have a Heart Disease