<a href="https://colab.research.google.com/github/pratima-ss/Python/blob/main/Heart_Disease_Prediction_model_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The project-Heart Disease Prediction model using logistic regression has been done by Pratima S.

Stack : Python

ML model: Logistic Regression

Accuracy: ~80

This project uses python along with some machine learning libraries to facilitate prediction.Data used is from UCI Heart Disease prediction.Data used has been stored in Github in raw format and is then pre-processed and then the model is trained with 80% of data which is then tested using 20% data.This model gives an accurancy as about 80%.

Ongoing development : Deploying it as an app using streamlit after pickling the model.

Further development : Improvement of accuracy

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import preprocessing

In [ ]:
!pip install streamlit
import streamlit as st

In [ ]:
url = 'https://raw.githubusercontent.com/pratima-ss/Python/main/data_for_heart_disease_prediction.csv'
heart_data = pd.read_csv(url)
print (heart_data.head(5))

In [ ]:
heart_data.head()

In [ ]:
heart_data.tail()

In [7]:
a = pd.get_dummies(heart_data, columns = ['sex'])
label_encoder = preprocessing.LabelEncoder()
one_hot_encoded_data=a

In [8]:

one_hot_encoded_data['fasting_blood_sugar']= label_encoder.fit_transform(one_hot_encoded_data['fasting_blood_sugar'])
one_hot_encoded_data['rest_ecg']= label_encoder.fit_transform(one_hot_encoded_data['rest_ecg'])
one_hot_encoded_data['exercise_induced_angina']= label_encoder.fit_transform(one_hot_encoded_data['exercise_induced_angina'])
one_hot_encoded_data['slope']= label_encoder.fit_transform(one_hot_encoded_data['slope'])
one_hot_encoded_data['vessels_colored_by_flourosopy']= label_encoder.fit_transform(one_hot_encoded_data['vessels_colored_by_flourosopy'])
one_hot_encoded_data['thalassemia']= label_encoder.fit_transform(one_hot_encoded_data['thalassemia'])
one_hot_encoded_data['chest_pain_type']= label_encoder.fit_transform(one_hot_encoded_data['chest_pain_type'])

In [9]:
one_hot_encoded_data.shape

(1025, 15)

In [ ]:
one_hot_encoded_data.info()

In [ ]:
one_hot_encoded_data.isnull().sum()

In [ ]:
one_hot_encoded_data.describe()

In [ ]:
one_hot_encoded_data['target'].value_counts()

In [14]:
X = one_hot_encoded_data.drop(columns='target', axis=1)
Y = one_hot_encoded_data['target']

In [15]:
print(X)

      age  chest_pain_type  resting_blood_pressure  cholestoral  \
0      52                3                     125          212
1      53                3                     140          203
2      70                3                     145          174
3      61                3                     148          203
4      62                3                     138          294
...   ...              ...                     ...          ...
1020   59                1                     140          221
1021   60                3                     125          258
1022   47                3                     110          275
1023   50                3                     110          254
1024   54                3                     120          188

      fasting_blood_sugar  rest_ecg  Max_heart_rate  exercise_induced_angina  \
0                       1         2             168                        0
1                       0         1             155                        1
2                       1         2             125                        1
3                       1         2             161                        0
4                       0         2             106                        0
...                   ...       ...             ...                      ...
1020                    1         2             164                        1
1021                    1         1             141                        1
1022                    1         1             118                        1
1023                    1         1             159                        0
1024                    1         2             113                        0

      oldpeak  slope  vessels_colored_by_flourosopy  thalassemia  sex_Female  \
0         1.0      0                              3            3           0
1         3.1      2                              4            3           0
2         2.6      2                              4            3           0
3         0.0      0                              1            3           0
4         1.9      1                              2            0           1
...       ...    ...                            ...          ...         ...
1020      0.0      0                              4            0           0
1021      2.8      1                              1            3           0
1022      1.0      1                              1            0           0
1023      0.0      0                              4            0           1
1024      1.4      1                              1            3           0

      sex_Male
0            1
1            1
2            1
3            1
4            0
...        ...
1020         1
1021         1
1022         1
1023         0
1024         1

[1025 rows x 14 columns]

In [16]:
print(Y)

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [18]:
print(X.shape, X_train.shape, X_test.shape)

(1025, 14) (820, 14) (205, 14)

In [19]:
model = LogisticRegression()

In [20]:
X_train

,age,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,sex_Female,sex_Male
14,52,3,128,204,0,2,156,1,1.0,1,4,1,0,1
586,64,2,125,309,1,2,131,1,1.8,1,4,3,0,1
16,51,2,140,308,1,1,142,0,1.5,0,1,0,1,0
462,52,0,118,186,1,1,190,0,0.0,1,4,2,0,1
186,40,3,110,167,1,1,114,1,2.0,1,4,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,63,3,130,254,1,1,147,0,1.4,1,1,3,0,1
906,42,3,140,226,1,2,178,0,0.0,0,4,0,0,1
1002,66,3,112,212,1,1,132,1,0.1,0,1,0,0,1
966,58,3,128,259,1,1,130,1,3.0,1,3,3,0,1
191,56,1,130,221,1,1,163,0,0.0,0,4,3,0,1

In [ ]:
model.fit(X_train, Y_train)

In [22]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [23]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.85

In [24]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [25]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.8

In [26]:
import pickle

In [27]:
with open('model_pkl', 'wb') as files:
    pickle.dump(model, files)

In [28]:
input_data = (56 	,1 ,	130 ,	221 ,	1 ,	1 ,	163 ,	0 	,0.0 ,	0, 	4 ,	3 ,	0 ,	1)

In [ ]:
# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
print(input_data_reshaped)
prediction = model.predict(input_data_reshaped)

In [30]:

print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[1]
The Person has Heart Disease